.app-contaienr {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.app-map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: scroll;

}

.app-config-container {
    width: 400px;
    border-left: 1px solid #cccccc;
    height: 100vh;
    overflow-y: scroll;
}